@model ShoppingCartApp.Models.Item

@{
    ViewData["Title"] = "Delete Product";
}

<h1>Delete Product from Cart</h1>

<form asp-action="Delete" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" readonly />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" readonly />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" readonly />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <button type="submit" value="Delet" class="btn btn-primary">Back to List</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
